
    <head>

        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Wibble</title>

        <link rel="shortcut icon" href="/assets/images/favicon.ico" />

        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="/vendor/flexText/style.css"/>
        <link rel="stylesheet" type="text/css" href="/vendor/animate.css/animate.min.css"/>
        <link rel="stylesheet" type="text/css" href="/styles/style.css"/>

    </head>