/*============================================================

Gloabl Styles

@description Styles for the Global Styles
@version 1.00

@author ciaran@specialmoves.com (Ciaran Park)
@author jonic@specialmoves.com (Jonic Linley)

---------- INDEX ----------


body
.navbar-brand
.form
.form-control
.page-header 
.page-break
.btn 
.btn-group .btn
.btn-group .btn + .btn 
.btn-group .btn.active
.col-lg-6 
.col-lg-6:nth-child(odd) 
.error-date
.list-group
.list-group-attendees li
.feedback-link
.panel .table
.progress
.attendee-name,
.question

============================================================*/

body {
	padding-bottom: 70px;
}

.form {
	padding: 0 0 50px 0;
}

.form-control {
	resize: none;
}

.page-header {
	margin-top: 0;
}

.page-break {
	border: 0;
	height: 1px;
	margin: 30px 0;
}

.btn {
	&:hover {
		transition: all 100ms ease-in-out;
	}
}

.btn-group {
	.btn {
		border: 0;

		&.active {
			box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.25);
		}
	}

	.btn + .btn {
		margin-left: 0;
	}
}


.col-lg-6 {
	margin: 0 0 10px 0;

	&:nth-child(odd) {
		clear: both;
	}
}

/* Project Overview Template */

.error-date {
	color: #b94a48;
}

/* Retrospective View Template */

.list-group {

	&.list-group-attendees li {
		.feedback-link {
			display: none;
		}

		&:hover .feedback-link {
			display: inline;
		}
	}

	&.list-group-questions {
		width: auto;
	}

}

.panel .table {
	margin-bottom: 0;
}

.progress {
	margin-bottom: 9px;

	&:last-child {
		margin-bottom: 0;
	}
}

/* Retrospective Form Template */

.attendee-name,
.question {
	margin-bottom: 20px;
}

/* Media Queries */

@media print {

  body {

  	font-size: 1.5em;
    margin: 20px 50px 50px 50px;

    .lead {
    	margin: 10px 0 20px 0;
    }
    
    .page-header {
    	border: none 0;
    	padding-bottom: 0;
    }

    .panel {
    	padding: 0;
    	margin: 0;
    	border: none;

    	.panel-heading {
    		padding: 0 0 10px 0;
    		margin: 0;
    	}

    	td,
    	textarea,
    	pre {
    		border: none;
	    	margin: 0;
	    	padding: 0;
    	}
    }
  }
}


